* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.avatar {
  width: 900px;
  height: 600px;
  display: block;
  margin: 80px auto;
  object-fit: cover;
  object-position: 0px -280px;
  background-color: aqua;
  transition: all 1s ease-in-out;
}

.avatar:hover {
  width: 900px;
  height: 600px;
  display: block;
  margin: 80px auto;
  object-fit: cover;
  object-position: 0px -680px;
  background-color: rgb(0, 85, 85);
  border: 10px lime solid;
}

.box {
  width: 400px;
  height: 499px;
  background-image: url("https://picsum.photos/id/122/900/600");
  transition: all 0.5s ease;
}

.box:hover {
  background-image: url("https://picsum.photos/id/121/900/600");
}

.box:active {
  background-image: url("https://picsum.photos/id/42/900/600");
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat( auto-fill, minmax(660px, 1fr));
}

.item {
  background-color: lime;
  margin: 5px;
}
